* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../image/bg-mobile.jpg') no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: white;
}

#container {
    width: 360px;
    margin: 56px auto 0;
    border: 1px solid red;
}

#profile {
    padding: 24px;
    text-align: center;
}

#profile img {
    width: 112px;
}

#profile p {
    margin-top: 8px;
    font-weight: 500;
}