* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --text-color: white;
    --bg-url: url(../image/bg-mobile.jpg);
}

.light {
    --text-color: black;
    --bg-url: url(../image/bg-mobile-light.jpg);
}

body {
    background: var(--bg-url) no-repeat top center/cover;
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
    width: 360px;
    margin: 56px auto 0;
    padding: 0 24px;
}

#profile {
    padding: 24px;
    text-align: center;
}

#profile img {
    width: 112px;
}

#profile p {
    margin-top: 8px;
    font-weight: 500;
}

ul {
    padding: 24px 0 ;

    list-style: none;
    
    display: flex;
    flex-direction: column;
    gap: 16px;

}

ul li a {
    padding: 16px 24px;

    background-color: rgba(255, 255, 255, 0.1);

    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    
    display: flex;
    justify-content: center;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    font-weight: 500;

    transition: background-color 0.3s ease-out;
}

ul li a:hover {
    background-color:  rgba(255, 255, 255, 0.05);
    border: 1.8px solid rgba(255, 255, 255, 1);
}

#social-links {
    padding: 24px 0;
    
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 16px;
}

#social-links a {
    padding: 8px;
    
    font-size: 24px;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
}

#social-links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

footer {
    margin-bottom: 32px;
    padding: 24px 0;

    font-size: 14px;
    text-align: center;
}